<div>
    <h1>Choose your Universe!</h1>
    <a href="/universe/dc">
        <button id="DC-btn">DC</button>
    </a>
    <a href="/universe/marvel">
        <button id="Marvel-btn">Marvel</button>
    </a>
</div>