<div class="center">
    {{#if logged_in}}
    <a href="/create">Add new Superhero</a>
    {{/if}}

    {{#each blogs as |blog| }}
    <div class="blog">
        <div>
            <h2>
                {{blog.title}}
            </h2>
            <p>Created by {{blog.user.username}} on {{format_date blog.create_on_date}}</p>
        </div>
        <div>
            <p>
                {{blog.content}}
            </p>
        </div>
    </div>
    {{/each}}

</div>