<div class="universe">
    <h1>Choose your Universe!</h1>
    <div class="container">
    <a href="/universe/dc" class = "DC">
        <div id="DC-btn">DC</div>
    </a>
    <a href="/universe/marvel" class = "Marvel">
        <div id="Marvel-btn">Marvel</div>
    </a>
    </div>
</div>