<h1>Log In</h1>
<form class="loginform">
  <h1>Log In</h1>
  <label for="username">UserName</label>
  <input type="text" id="username">
  <label for="Password">Password</label>
  <input type="password" id="password">
  <button type="submit">Submit</button>
</form>

<form class="signupform">
  <h1>Sign Up</h1>
  <label for="email">Email</label>
  <input type="text" id="signupemail">
  <label for="username">UserName</label>
  <input type="text" id="signupusername">
  <label for="password">Password</label>
  <input type="password" id="signuppassword">
  <button type="submit">Submit</button>
</form>