<h1>Log In</h1>
<form class="login-form">
  <h1>Log In</h1>
  <label for="username">UserName</label>
  <input type="text" id="username">
  <label for="Password">Password</label>
  <input type="password" id="password">
  <button type="submit">Submit</button>
</form>

<form class="signup-form">
  <h1>Sign Up</h1>
  <label for="email-signup">Email</label>
  <input type="text" id="signupemail">
  <label for="username-signup">UserName</label>
  <input type="text" id="signupusername">
  <label for="password-signup">Password</label>
  <input type="password" id="signuppassword">
  <button type="submit">Submit</button>
</form>