html,body,.container,main {
    height: 100vh;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.DC {
    flex-basis: 40%;
    height: 400px;
    background-image: url(../assets/Superman.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
#DC-btn {
    
}